<div class="flex-shrink-0 p-3">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <a type="button" class="btn " href="{% url 'categorie' 'D' %}">Bici da corsa</a>

        </li>
        <li class="mb-1">
            <a type="button" class="btn " href="{% url 'categorie' 'M' %}"> Mountain Bike</a>

        </li>
        <li class="mb-1">
            <a type="button" class="btn " href="{% url 'categorie' 'C' %}"> Bici da Città </a>
        </li>
        </li>
        <li class="mb-1">
           <li class="mb-1">
               <a type="button" class="btn " href="{% url 'categorie' 'E' %}"> Bici Elettriche</a>

            </li>
        <li class="mb-1">
           <li class="mb-1">
               <a type="button" class="btn " href="{% url 'categorie' 'B' %}"> Bici per Bambini </a>

            </li>

        </li>
         <li class="mb-1">
           <li class="mb-1">
               <a type="button" class="btn " href="{% url 'categorie' 'A' %}"> Accessori </a>

            </li>
        </li>
    </ul>
</div>
